@model FundRaising.Models.Student

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Student/_Layout.cshtml";
}
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Student</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.StudentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentName)
    </div>*@

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeacherName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeacherName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Grade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
