@model FundRaising.Models.Coupon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Coupon</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CouponType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CouponType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CouponUsage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CouponUsage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
