@model FundRaising.Models.LocalPasswordModel

@*<h3>Change password</h3>*@

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    <div class="error">
        @Html.ValidationSummary()
    </div>
    <div class="container">
        <div class="panel panel-default text-center center_pan" style="width:547px;">
            <div class="panel-heading">Change Password </div>
            <div class="panel-body">
                <ul class="login-auth">
                    <li>
                        @Html.LabelFor(m => m.OldPassword)
                        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;@Html.PasswordFor(m => m.OldPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.NewPassword)
                        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.PasswordFor(m => m.NewPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </li>
                </ul>
                <input class="mit-sub" type="submit" value="Change password" style="background-color: #006666;" />
            </div>
        </div>
    </div>
    @*<fieldset>
        <legend> Form</legend>*@
       
    @*</fieldset>*@
}
