@model IEnumerable<FundRaising.Models.Cart>

@*<fieldset>
    <legend>OrderDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.unitPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unitPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>
</fieldset>*@
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@



<div class="col-md-12">
    <div class="row" style="background: #CAC8C8; color: dimgrey; font-size: 15px;text-align:center">
        <div class="col-md-1" style="border-right:1px solid #E8E4E4">
            Action
        </div>
        <div class="col-md-2" style="border-right:1px solid #E8E4E4">
            ITEM NUMBER
        </div>
        <div class="col-md-4" style="border-right:1px solid #E8E4E4">
            DETAILS
        </div>
        <div class="col-md-2" style="border-right:1px solid #E8E4E4">
            QUANTITY
        </div>
        <div class="col-md-1" style="border-right:1px solid #E8E4E4">
            PRICE
        </div>
        <div class="col-md-2" style="border-right:1px solid #E8E4E4">
            SUBTOTAL
        </div>
    </div>
    @if (Model!=null)
    {
        double total=0;
        foreach (var item in Model)
        {
            var subtotal = item.Price * item.Quantity;
            var price = "price" + item.ID;
            var subtot = "subtotal" + item.ID;
            total += subtotal;
            <div class="row" style="border-bottom: 1px solid #E8E4E4;height:57px">
                
                <div class="col-md-4" style="border-right:1px solid #E8E4E4;height:inherit;padding-top: 11px;">
                    @item.Description
                </div>
                <div class="col-md-2" style="border-right:1px solid #E8E4E4;text-align:center;height:inherit;padding-top: 11px;">
                    <input type="number" value="@item.Quantity" name="@item.ID" style="margin-bottom:0;text-align: center;" id="Quantity" class="quantity" /> <br />                    
                </div>
                <div class="col-md-1" style="border-right:1px solid #E8E4E4;text-align: center;height:inherit;padding-top: 11px;">
                    <span id="@price">@String.Format("{0:C}", Convert.ToInt32(item.Price))</span>
                </div>
                <div class="col-md-2" style="text-align:center;height:inherit;padding-top: 11px;">
                    <span id="@subtot">@String.Format("{0:C}",Convert.ToInt32(subtotal))</span>
                </div>
            </div>
        }
        <div class="row" style="text-align: right; padding-right: 7px; margin-top: 10px;height:inherit">
            <b>Total Payable: </b>&nbsp;&nbsp;&nbsp; @String.Format("{0:C}",total);
        </div>

       
    }

</div>